<!DOCTYPE html>
<html>
	<head>
		<meta charset = "utf-8">
		<title>BestExCurr</title>
		<link rel="stylesheet" type="text/css" href="/css/style.css">
		<link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'> 
	</head>
	<body>
    <div class="header">
      <div class="title">
        <h1>BestExCurr</h1>
      </div>
    </div>

    <div class="data">
      <h4>Today is <%= date %></h4>
      <h4>Last Update Time: <%= time %></h4>
      

      <table border = "1">
          <tr>
            <th rowspan = "2">Country</td> 
            <th rowspan = "2">Currency Code</td>
            <th colspan = "4">Buying Price</td>
            <th colspan = "4">Selling Price</td>
          </tr>
          <tr>
            <th>SCOTIABANK</th>
            <th>DESJARDINS</th>
            <th>HSBC</th>
            <th>UEXCHANGE</th>
            <th>SCOTIABANK</th>
            <th>DESJARDINS</th>
            <th>HSBC</th>
            <th>UEXCHANGE</th>
          </tr>
        <% for (let i = 0; i < data[0].length; i++){ %>
          <tr>
            <th> <%= data[0][i] %> </th>
            <th> <%= data[1][i] %> </th>
            <% for (let j = 2; j < 6; j++){ %>
              <th> <%= data[j][i][0] %> </th>
            <% } %>
            <% for (let j = 2; j < 6; j++){ %>
              <th> <%= data[j][i][1] %> </th>
            <% } %>  
          </tr>
        <% } %>
      </table>
    </div>
  </body>
</html>