<!DOCTYPE html>
<html>
	<head>
		<meta charset = "utf-8">
		<title>BestExCurr</title>
		<link rel="stylesheet" type="text/css" href="/css/style.css">
		<link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'> 
	</head>
	<body>
    <div class="header">
      <div class="title">
        <h1>BestExCurr</h1>
      </div>
    </div>

    <div class="data">
      <h4>Today is <%= date %></h4>
      <h4>Last Update Time: <%= time %></h4>
      

      <table>
          <tr>
            <th>Country</td> 
            <th>Currency Code</td>
            <th>Buying Price</td>
            <th>Selling Price</td>
          </tr>
        <% for (let i = 1; i < data[0].length; i++){ %>
          <tr>
            <td> <%= data[0][i].country %> </td> 
            <td> <%= data[0][i].code %> </td>
            <td> <%= data[0][i].buy %> </td>
            <td> <%= data[0][i].sell %> </td>
          </tr>
        <% } %>
      </table>
    </div>
  </body>
</html>